
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/pages/passwordReset.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="field_container">
        <div class="registration_field">
            <label for = "Username">Username</label>
            <input type = "text" name = "Username" id = "Username" required>
        </div>
        <div class="registration_field">
            <label for = "OldPassword">Old Password</label>
            <input type = "text" name = "OldPassword" id = "OldPassword" required>
        </div>
        <div class="registration_field">
            <label for = "NewPassword">New Password</label>
            <input type = "text" name = "NewPassword" id = "NewPassword" required>
        </div>
        <div class="registration_field">
            <label for = "ConfirmNewPassword">Confirm New Password</label>
            <input type = "password" name = "ConfirmNewPassword" id = "ConfirmNewPassword" required>
        </div>
        <div>
            <button onclick = sendData() name = "newPlayer" id="submit_button" >
                Update Password
            </button>
        </div>
        <input type="hidden", id="csrf", name="csrf"  value="{{csrf_token()}}">
    </div>

    

</body>

<script>
    // TODO:     Substitute form for ajax request like on reportMatch.html.
    //          Allows for better navgation and control in sending requests and redirecting


    function sendData(){
        let Username = document.getElementById('Username').value
        let OldPassword = document.getElementById('OldPassword').value
        let NewPassword = document.getElementById('NewPassword').value
        let ConfirmNewPassword = document.getElementById('ConfirmNewPassword').value
        let csrf = document.getElementById("csrf").value
        if (NewPassword != ConfirmNewPassword) {
            window.alert("Please confirm that passwords match")
            return
        }

        // sends post request, if successful then alerts client
        // 
        $.ajax({
            url:'/changePassword',
            type:'POST',
            data:{'Username':Username, 'OldPassword':OldPassword, 'NewPassword':NewPassword, "csrf_token":csrf },
            success:function(){
                // alert(playerToAdd + " added to database")
                window.location.replace("/");


            },
            error:function(jqXHR, exception){
                console.log(jqXHR)
                if(jqXHR.status==470) {
                    alert("Incorrect Password")
                    document.getElementById("PlayerFirstName").value = "";
                    document.getElementById("PlayerLastName").value = "";
                    document.getElementById("Password").value = "";
                    document.getElementById("Password_confirmation").value = "";


                }
                else{
                    alert("Could not add player, please try again")
                    document.getElementById("PlayerFirstName").value = "";
                    document.getElementById("PlayerLastName").value = "";
                    document.getElementById("Password").value = "";
                    document.getElementById("Password_confirmation").value = "";


                }
            }

        })
    }



</script>