


html, body {
    background-color: rgb(13, 37, 9); /* Your custom background color */
    /* background-repeat: no-repeat !important;
    background-size: cover !important; */
    /* background-image: url("./../../src/index_background_wide_1080.jpg") !important; */
    background: transparent; /*Force background to be transparent*/
    position: relative; 

    margin: 0;
    padding: 0;
}

.custom-background-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -20; /* Ensure it stays behind other content */
    /* overflow: visible; */
    /* transform-origin: center center; */


}

.custom-bg-img{
    height: 100vh;
    object-fit: cover;
    transform: translate(-37%, -50%) rotate(90deg) scale(1.5); /* scale ensures it covers screen */
    transform-origin: center center;

    min-width: 100vh; /* because height becomes width after rotation */
    min-height: 100vw;



}



.invert_icon{
    filter: invert(1);
}




.index_nav_buttons{
    width: 100%;
    color: white;
    font-size: x-large;
    background-color: #6b0b0b;
    padding: 25px 50px 20px 50px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}



#title{
    color: white;
    font-weight: 400 !important;;
}

#title>p{
    margin-top: 10vh;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 20%;
}




#index_buttons{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}



#index_button{
    width: 70%;
}

#register_button{
    width: 70%;
    margin-left: 15%;
}


.column_container{
    display: flex;
    flex-direction: column;
}



.index_buttons{
    width: 50%;
    margin-right: 25px;
    margin-left: 25px;
}




@media (min-width: 576px) { 
    
        


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 
}

 /* Large devices (desktops, 992px and up) desktops, 1080px h on the upper end */
@media (min-width: 992px) {
    html{
        background-image: url("./../../src/index_background_wide_1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    body{
        background-image: url("./../../src/index_background_wide_1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-position-x: -50vw
    }

    .nav_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px 20px 50px;
        width: 50%;
    }

    #register_button{
        margin-top:20px;
        width: 70%;
        margin-left: 15%;
    }

    
    #title{
        color: white;
        font-size: 100pt;
        width: 40%;
        margin-left: 5vw;
        margin-top: 30vh;

    }

    .index_nav_buttons{
        margin-left: 7vw;
        width: 30vw;
    }

    .nav_bar>a:hover{
    
        background-color: #460505;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body{
        background-image: url("./../../src/index_background_wide_1080.jpg") !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position-x: -10vw

    }

    #register_button{
        margin-top:20px;
        width: 70%;
        margin-left: 15%;
    }

    
    #title{
        color: white;
        font-size: 100pt;
        width: 40%;
        margin-left: 5%;
        margin-top: 30vh;
    }
 }

 @media (min-width: 1400px) { 
    body{
        background-image: url("./../../src/index_background_wide_1080.jpg") !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position-x:0;
    }

 }