.container_fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index_buttons{
    width: 30%;
    color: white;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    margin: 50px 50px 50px 50px;

}

.index_buttons_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.index_buttons > button:hover{
    background-color: #460505;
}

.index_buttons > button{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #6b0b0b;
    color: white;
    height: 90px;
}

button:hover{
    background-color: #460505;
}