


 
html{
    background-color: rgb(31, 87, 23);
}

.index_nav_buttons{
    width: 100%; 
    color: white;
    font-size: x-large;
    background-color: #6b0b0b;
    padding: 20px 50px 20px 50px;
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 50px
}


p{
    color: rgb(0, 0, 0);
}

h1 {
    border: 2px #eee solid;
    color: white;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* tr:hover {
    background-color: #000000;
} */

.list_row:hover td {
    background-color: #858585;

} 