<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pool Rankings</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <!-- <nav>
        <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="./">Log Out</a>
            {% else %}
                <li><a href="/register">Register</a>
                <li><a href="./">Log In</a>
            {% endif %}
        </ul>
    </nav> -->
    <!-- <div class = "background background_img"> -->
        <!-- <h1>Welcome to the Washington University Billiards Club</h1> -->
        <div class="float_container">
            <div id="title">
                <p>
                    Washington
                </p>
                <p>
                    University
                </p>
                <p>
                    Billiards Club
                </p>
            </div>
            <div>

            </div>

        </div>
   

        <div id="index_buttons">
            <form action = '/ReportMatch'>
                <button type = 'submit' name = 'reportMatch' class="index_nav_buttons">Report a match</button>
            </form>
            <form action = '/showRankings'>
                <button type = 'submit' class="index_nav_buttons">See Rankings</button>
            </form>
        </div>
            

        <!-- TODO: -->
        <!-- implement actual navigation -->
        <div>
            <form action = '/register'>
                <button type = 'submit' name = 'register' class="index_nav_buttons">Register</button>
            </form>
        </div>
        
        
    <!-- </div> -->
    
</body>


</html>