
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pool Rankings Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/register.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="field_container">
        <div class="registration_field">
            <label for = "PlayerName">First Name</label>
            <input type = "text" name = "PlayerName" id = "PlayerFirstName" required>
        </div>
        <div class="registration_field">
            <label for = "PlayerName">Last Name</label>
            <input type = "text" name = "PlayerLastName" id = "PlayerLastName" required>
        </div>
        <div class="registration_field">
            <label for = "Username">Username</label>
            <input type = "text" name = "Username" id = "Username" required>
        </div>
        <div class="registration_field">
            <label for = "Password">Enter Password</label>
            <input type = "password" name = "Password" id = "Password" required>
        </div>
        <div class="registration_field">
            <label for = "Password_confirmation">Confirm Password</label>
            <input type = "password" name = "Password_confirmation" id = "Password_confirmation" required>
        </div>
        <div>
            <button onclick = sendData() name = "newPlayer" id="submit_button" >
                Register User
            </button>
        </div>
        <input type="hidden", id="csrf", name="csrf"  value="{{csrf_token()}}">
    </div>

    

</body>

<script>
    // TODO:     Substitute form for ajax request like on reportMatch.html.
    //          Allows for better navgation and control in sending requests and redirecting


    function sendData(){
        let playerFirstName = document.getElementById('PlayerFirstName').value
        let playerLastName = document.getElementById('PlayerLastName').value
        let playerUsername = document.getElementById('Username').value
        let playerPassword = document.getElementById('Password').value
        let playerPasswordConfirmation = document.getElementById('Password_confirmation').value
        let csrf = document.getElementById("csrf").value

        // sends post request, if successful then alerts client
        // 
        $.ajax({
            url:'/addNewPlayer',
            type:'POST',
            data:{'PlayerFirstName':playerFirstName, 'PlayerLastName':playerLastName, 'PlayerUsername':playerUsername, 'Password': playerPassword, 'Password_confirmation' : playerPasswordConfirmation,"csrf_token":csrf },
            success:function(){
                // alert(playerToAdd + " added to database")
                document.getElementById("PlayerFirstName").value = "";
                document.getElementById("PlayerLastName").value = "";
                document.getElementById("Password").value = "";
                document.getElementById("Password_confirmation").value = "";
                window.location.replace("/");


            },
            error:function(jqXHR, exception){
                console.log(jqXHR)
                if(jqXHR.status==470) {
                    alert("Player already in database")
                    document.getElementById("PlayerFirstName").value = "";
                    document.getElementById("PlayerLastName").value = "";
                    document.getElementById("Password").value = "";
                    document.getElementById("Password_confirmation").value = "";


                }
                if(jqXHR.status==406) {
                    alert("Passwords do not match")
                    document.getElementById("PlayerFirstName").value = "";
                    document.getElementById("PlayerLastName").value = "";
                    document.getElementById("Password").value = "";
                    document.getElementById("Password_confirmation").value = "";


                }
                else{
                    alert("Could not add player, please try again")
                    document.getElementById("PlayerFirstName").value = "";
                    document.getElementById("PlayerLastName").value = "";
                    document.getElementById("Password").value = "";
                    document.getElementById("Password_confirmation").value = "";


                }
            }

        })
    }



</script>