<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pool Rankings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body>
    <div id="navigation_bar"></div>
    <h1>Rankings</h1>
    <div id="list">
    </div>
     
    <div>
        <form action = '/'>
            <button type = 'submit' name = 'home' class="index_nav_buttons">Home</button>
        </form>
    </div>
    

<!--    
    
  Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js".
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

  Load our React component.
  <script src="like_button.js"></script> 
-->

</body>
<script>


    
    $.ajax({
        url:'/getRankings',
        type:'POST',
        success:function(data){
            displayData(data)
        },
        failure:function(){
            alert("Unable to get rankings")
        }
    })
    // })

    function displayData(data){
        for (row in data) {
            console.log(row)
            document.getElementById('list').innerHTML += ("<div class=list_row> <div class=align_left> <p>" + data[row].Name + "</p></div><div class=align_right>  <p>" + (+(data[row].Rating)).toFixed(3) + " </p></div>")
        }
    }

</script>

</html>